.toggle-control {
  display: flex;
  position: relative;
  padding-left: 100px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.toggle-control input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.toggle-control input:checked ~ .control {
  background-color: #777E90;
}
.toggle-control input:checked ~ .control:after {
  left: 35px;
  background-color: #23262F;
}
.toggle-control .control {
  margin-top: 20px;
  margin-left: 38%;
  position: absolute;
  top: 0;
  left: 0;
  height: 32px;
  width: 64px;
  border-radius: 25px;
  background-color: #23262F;
  transition: background-color 0.15s ease-in;
}
.toggle-control .control:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 5px;
  width: 24px;
  height: 24px;
  border-radius: 25px;
  background: #777E90;
  transition: left 0.15s ease-in;
}

/*/* Center the control */
/*body {*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  min-height: 100vh;*/
/*  background-color: #222229;*/
/*  color: white;*/
/*}*/
