.about_us .title_text {
  font-size: 48px;
  color: #ffffff;
  text-align: left;
  font-family: 'DM Sans', sans-serif;
  font-weight: 550;
}
.faq-heading{
  border-bottom: #777;
  padding: 20px 60px;
}
.faq-container{
  display: flex;
  justify-content: end;
  flex-direction: column;

}
.hr-line{
  width: 60%;
  margin: auto;
}
.faq-page {
  /* background-color: #eee; */
  color: #444;
  cursor: pointer;
  padding: 30px 20px;
  width: 60%;
  border: none;
  outline: none;
  transition: 0.4s;
  margin: auto;

}
.faq-body{
  margin: auto;
  /* text-align: center; */
  width: 50%;
  padding: auto;

}


.active,
.faq-page:hover {
}

.faq-body {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}

.faq-page:after {
  content: '\02795';
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796";
}
.container {

  margin: 0 auto;
  padding: 4rem;
  width: 48rem;
}
.faq {
  margin-top: 30px;
  /*margin: 0 auto;*/
  /*padding: 4rem;*/
  /*width: 48rem;*/
}
.accordion .accordion-item {
  border-bottom: 1px solid #777E90;
}

.accordion .accordion-item button[aria-expanded='true'] {
  border-bottom: 1px solid #FCFCFD;
}

.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #ffffff;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}
.accordion p{
  color: #777E90;
}
.accordion button:hover,
.accordion button:focus {
  cursor: pointer;
  color: #777E90;
}

.accordion button:hover::after,
.accordion button:focus::after {
  cursor: pointer;
  color: #777E90;
  border: 1px solid #777E90;
}

.accordion button .accordion-title {
  color: #FCFCFD;
  padding: 3em 5.5em 3em 0;
}

.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}

.accordion button .icon::before {
  display: block;
  position: absolute;
  content: '';
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: '';
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}

.accordion button[aria-expanded='true'] {
  color: #777E90;
}
.accordion button[aria-expanded='true'] .icon::after {
  width: 0;
}
.accordion button[aria-expanded='true'] + .accordion-content {
  opacity: 1;
  max-height: 9em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 300;
  margin: 2em 0;
}
